@import '~antd/dist/antd.css';


#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
}

.mapStyle {
    width: 900px;
    height: 700px;
    z-index: 0;
    margin: auto;
    /*position: absolute;*/
}

/* Main Layout page junk */
.layout {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 420px;
    margin-left: 420px;
}


/* Login Form junk */
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.stanardCard {
    width: 960px;
    margin: auto;
    height: 800px;
    overflow: auto;
    margin-top: 40px;
}


.bigCard {
    width: 1200px;
    margin: auto;
    height: 840px;
    overflow: auto;
    margin-top: 40px;
}


/* List View CSS */
.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.highlight {
    color: #f50;
}